html body
{
    background-color: beige;
    box-sizing: border-box;
    height: 100%;
    padding: 40px;
}




/* .container > div:nth-child(1)
{
    background-color: aquamarine;

}
.container > div:nth-child(2)
{
    background-color:blueviolet;
}
.container > div:nth-child(3)
{
    background-color: yellowgreen;
} */