html, body {
    padding: 0;
    margin: 0;
  }
  
  input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
  }
  
  h2, h3 {
    margin: 0 0 .75em 0;
  }

.container
{
    max-width: 750px;
    margin: 20px auto 0 auto;
    padding: 30px;
    background-color: #FFF;
}
.container2
{
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex
}

.main-col
{
    flex: 3;
    order: 2;

}

.sider-bar-one
{
    flex: 1;
  order: 0;
}

.sider-bar-two
{
  flex: 1;
  order: 3;
}


.form-row
{
    padding: 10px 0;
    display: flex;
}

.form-row label
{
    padding-right: 10px;
}
.form-row input
{
    /* padding: 20px; */
    flex: 1;
}



/* .container > div:nth-child(1)
{
    background-color: aquamarine;

}
.container > div:nth-child(2)
{
    background-color:blueviolet;
}
.container > div:nth-child(3)
{
    background-color: yellowgreen;
} */